{% extends 'index.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Pääsy evätty</h3>
                </div>
                <div class="card-body">
                    <button onclick="window.location.href='/'" id="hide-btn" class="btn btn-secondary">Takaisin</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}